<!-- site containers -->

#primary-nav *:focus {
  border-bottom: 1px solid #1825aa;
  outline: 0;
  background-color: transparent; }
  
  
 <!-- elements -->
 
 
 <!-- responsive image code -->
 
 
 <!--  -->
