
body {
  margin: 0;
  padding: 0;
  
}

#page-content {
  margin: 50px;
  padding: 50px;
}

#footer {
  margin: 10px;
  padding: 10px;
}


.button a {
    border-radius: 25px;
    background: #d21717;
    padding: 15px;
    margin: 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.button a:hover {
  background: red;
}

.main-nav ul {
  list-style: none;
  background-color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  bottom-border: solid 1px #888;
}

.main-nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  padding-bottom: 6px;
  border-bottom: 1px solid #888;
  transition: .3s bottom-border-color;
}

.main-nav li:hover {
  border-bottom-style: solid;
  border-bottom-width: 7px;
  padding-bottom: 0px;
  border-bottom-color: red;
}

.main-nav a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  display: block;
  border-width: 10px;
}
 
.main-nav a.active {
  background-color: #ff0000;
  color: #444;
  cursor: default;
}

 
@media screen and (min-width: 600px) {
  .main-nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
}

.main-nav li {
    display: inline-block;
    margin-right: -4px;
}
 

  .h1 {
  font-size: 50px; }
  
  
