
body {
  margin: 0;
  padding: 0;
  
}



.main-nav ul {
  list-style: none;
  background-color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}

.main-nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
.main-nav a {
  text-decoration: none;
  font-size: 12px
  display: block;
  border-width: 10px
  transition: .3s bottom-border-color;
}
 
.main-nav a:hover {
  border-bottom-color: #005f5f;
}
 
.main-nav a.active {
  background-color: #ff0000;
  color: #444;
  cursor: default;
}

 
@media screen and (min-width: 600px) {
  .main-nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
}

.main-nav li {
    display: inline-block;
    margin-right: -4px;
}
 

  .h1 {
  font-size: 50px; }
  
  
